# Ignore the entire 'private' folder
/private/

# Ignore all .ipynb_checkpoints folders
**/.ipynb_checkpoints/

# Ignore all .virtual_documents folders
**/.virtual_documents/

# Ignore .ipynb_checkpoints files
*.ipynb_checkpoints

# Ignore all CSV files
*.csv

# Misc
.venv/
.DS_Store
src/__pycache__/